

.header-page  {
  background-color: #354A5F;
  margin: 10px;
  border: 3px solid yellow;
}

.header-page .container h1{
  color: #BDC7E3;
}
.header-page .container h6{
color: #6B8874
}
.leftmenu{
  padding: 20px;
}
.list-group-item.active{
  color: black !important;
  background-color: #F7F7F7 !important;
  border: 1px solid #cacfca !important;
  text-decoration: none !important;
}
#monitorlist a{
  border: 1px solid #cacfca;
  text-decoration: none !important;
}
.list-group a{
  color: black;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}
.accordion-header button{
  color: black !important;
  text-decoration: none !important;
  font-size: 15px !important;
  font-style: normal !important;
  cursor: pointer !important;
}